<section class="customer-stories">
    <h2>What Our Users Say</h2>
    <div class="stories-grid">
        <div class="story-card">
            <img src="/Rectangle+26.jpg" alt="User 1" />
            <p>"This platform connected me with amazing mentors. It changed my career journey!"</p>
            <span>- User 1</span>
        </div>
        <div class="story-card">
            <img src="/Rectangle+25.jpg" alt="User 2" />
            <p>"The resources here helped me secure my first internship. Highly recommend it!"</p>
            <span>- User 2</span>
        </div>
        <div class="story-card">
            <img src="/sarah-rafferty-at-entertainment-weekly-celebration-of-sag-award-nominees-in-los-angeles-01-28-2017_2.webp" alt="User 3" />
            <p>"I love the community here! The events and lessons are incredible."</p>
            <span>- User 3</span>
        </div>
    </div>
</section>

@code {

}
