<section class="meet-team">
    <h2>Meet the Team</h2>
    <div class="team-grid">
        <div class="team-card">
            <img src="/photo_2024-12-09_23-13-44.jpg" alt="Team Member 1" />
            <h3>Eduard Vardanyan</h3>
            <p>Backend Developer</p>
        </div>
        <div class="team-card">
            <img src="/photo_2024-12-09_23-38-55.jpg" alt="Team Member 2" />
            <h3>Hayk Hakobyan</h3>
            <p>Design Director</p>
        </div>
        <div class="team-card">
            <img src="/photo_2024-12-09_23-20-30.jpg" alt="Team Member 3" />
            <h3>Areg Sahakyan</h3>
            <p>Frontend Developer</p>
        </div>
        <div class="team-card">
            <img src="/photo_2024-12-09_23-42-44.jpg" alt="Team Member 4" />
            <h3>Taron Suqiasyan</h3>
            <p>Research Director</p>
        </div>
    </div>
</section>
@code {

}
